################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GeekShopping/.vs/GeekShopping/FileContentIndex
/GeekShopping/.vs/GeekShopping/DesignTimeBuild/.dtbcache.v2
/GeekShopping/.vs/ProjectEvaluation/geekshopping.metadata.v5.2
/GeekShopping/.vs/ProjectEvaluation/geekshopping.projects.v5.2
/GeekShopping/.vs/GeekShopping/v17/.suo
/GeekShopping/.vs/GeekShopping/v17/.futdcache.v2
/GeekShopping/.vs/GeekShopping/FileContentIndex/30378ce0-3ae1-4fab-bf5a-bf7484dcdf53.vsidx
/GeekShopping/.vs/GeekShopping/FileContentIndex/3ee5f72a-69d6-4e75-bc37-f7be9079101b.vsidx
/GeekShopping/.vs/GeekShopping/FileContentIndex/405b4265-2605-4222-bcf5-647aacebeccf.vsidx
/GeekShopping/.vs/GeekShopping/FileContentIndex/60e84d0b-7638-4e38-9b64-8d8d94156b23.vsidx
/GeekShopping/.vs/GeekShopping/FileContentIndex/7199b88d-ff43-4174-9980-de81bb8a4ae2.vsidx
/GeekShopping/.vs/GeekShopping/FileContentIndex/e0a168ef-92fa-4d8d-96ec-fe767b3119e5.vsidx
/GeekShopping/.vs/GeekShopping/v17/.suo
/GeekShopping/.vs/GeekShopping/DesignTimeBuild/.dtbcache.v2
